<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rentflat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.myAccount.GivenRates"></activity>
        <activity android:name=".ui.rate.RateResults" />
        <activity android:name=".ui.findFlat.ReportFlat" />
        <activity android:name=".ui.rate.RateUser" />
        <activity
            android:name=".ui.findFlat.FindFlatDetails"
            android:label="@string/title_activity_find_flat_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.findFlat.FindFlatResults" />
        <activity android:name=".ui.myFlats.ChangeDescription" />
        <activity android:name=".ui.myFlats.ChangePrice" />
        <activity
            android:name=".ui.myFlats.MyFlatDetails"
            android:label="@string/title_activity_my_flat_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.findFlat.FindFlat"
            android:label="@string/title_activity_find_flat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.addFlat.AddFlat"
            android:label="@string/title_activity_add_flat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.myAccount.ChangePhone" />
        <activity android:name=".ui.myAccount.ChangePassword" />
        <activity android:name=".ui.myAccount.ChangeEmail" />
        <activity android:name=".ui.login.Login" />
        <activity android:name=".ui.register.Register" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>